<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OGTSystem.mapper.GroupUserIdentityMapper">
    <resultMap id="BaseResultMap" type="OGTSystem.entity.GroupUserIdentityEntity">
        <result column="group_ID" property="groupId" jdbcType="VARCHAR" />
        <result column="group_admin_ID" property="groupAdminId" jdbcType="VARCHAR" />
        <result column="group_admin_type" property="groupAdminType" jdbcType="TINYINT" />
    </resultMap>

    <!-- 新建群聊特权用户 -->
    <insert id="insertGroupUserIdentity">
        insert into group_user_identity(group_ID, group_admin_ID, group_admin_type)
            value(#{groupId}, #{groupAdminId}, #{groupAdminType});
    </insert>

    <!-- 查找群聊特权用户 -->
    <select id="selectUserIdentity" resultMap="BaseResultMap">
        SELECT group_ID, group_admin_ID, group_admin_type
        FROM group_user_identity
        <where>
            <if test="groupId != null">
                group_ID = #{groupId}
            </if>
            <if test="groupAdminId != null">
                AND group_admin_ID = #{groupAdminId}
            </if>
        </where>
    </select>

    <!-- 移除用户身份 -->
    <delete id="removeUserIdentity">
        delete from group_user_identity
        where group_id = #{groupId} and group_admin_ID = #{groupAdminId}
    </delete>

    <!-- 移除一个群里所有用户的身份 -->
    <delete id="removeGroupAllIdentity" parameterType="String">
        delete from group_user_identity
        where group_id = #{groupId}
    </delete>


</mapper>