<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OGTSystem.mapper.MessageNoFriendMapper">
    <resultMap id="BaseResultMap" type="OGTSystem.entity.MessageNoEntity">
        <result column="id" property="id" jdbcType="BIGINT"></result>
        <result column="friend" property="friend" jdbcType="VARCHAR"></result>
        <result column="message_no" property="messageNo" jdbcType="BIGINT"></result>
    </resultMap>
    <!-- 查询单条记录 -->
    <select id="getMessageNoByFriendString" resultMap="BaseResultMap" parameterType="String">
        SELECT
            id, friend, message_no
        FROM message_no_friend
        WHERE 1 = 1
        <if test="friend != null">
            AND friend = #{friend}
        </if>
    </select>

    <insert id="createMessageNo">
        insert into message_no_friend(friend, message_no)
        value(#{friend,jdbcType=VARCHAR}, #{messageNo,jdbcType=BIGINT});
    </insert>

    <update id="setMessageNo">
        update message_no_friend
        set message_no = #{messageNo}
        where friend = #{friend}
    </update>
</mapper>