<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OGTSystem.mapper.UserOftenEditMapper">
    <resultMap id="BaseResultMap" type="OGTSystem.entity.UserInfoEntity">
        <result column="UID" property="UUID" jdbcType="VARCHAR" />
        <result column="UUNO" property="UUNO" jdbcType="BIGINT" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="privacy_auth" property="privacyAuth" jdbcType="VARCHAR" />
        <result column="user_avatar" property="userAvatar" jdbcType="VARCHAR" />
        <result column="user_info" property="userInfo" jdbcType="VARCHAR" />
        <result column="ws_status" property="wsStatus" jdbcType="CHAR" />
        <result column="user_ws_server" property="userWsServer" jdbcType="VARCHAR" />

        <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
        <result column="user_sex" property="userSex" jdbcType="VARCHAR" />
        <result column="user_birthday" property="userBirthday" jdbcType="DATE" />
        <result column="user_location" property="userLocation" jdbcType="VARCHAR" />
    </resultMap>
    <!-- 通过UUID查询单条或多条记录 -->
    <select id="selectByUUId" parameterType="String" resultMap="BaseResultMap">
        SELECT
            UOE.UUID UID, UOE.UUNO, username, password, privacy_auth, user_avatar, user_info, ws_status, user_ws_server,
            user_email, user_sex, user_birthday, user_location
        FROM user_often_edit UOE left join user_not_often_edit UNOE ON UOE.UUID = UNOE.UUID
        <if test="uuid != null">
            WHERE UOE.UUID = #{uuid}
        </if>
    </select>

    <!-- 通过UserInfoEntity查询单条或多条记录 -->
    <select id="getByUserInfoEntity" resultMap="BaseResultMap">
        SELECT
        UOE.UUID UID, UOE.UUNO, username, password, privacy_auth, user_avatar, user_info,
        user_email, user_sex, user_birthday, user_location
        FROM user_often_edit UOE left join user_not_often_edit UNOE ON UOE.UUID = UNOE.UUID
        WHERE 1 = 1
        <if test="UUID != null">
            AND UOE.UUID = #{UUID}
        </if>
        <if test="UUNO != null">
            AND UOE.UUNO = #{UUNO}
        </if>
        <if test="username != null">
            AND username = #{username}
        </if>
    </select>

    <insert id="createUser">
        insert into user_often_edit(UUID, username, password)
        value(#{UUID,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR});
    </insert>

    <update id="setUserWebSocketServiceInfo">
        update user_often_edit
        set
            ws_status = #{wsStatus,jdbcType=VARCHAR},
            user_ws_server = #{userWsServer,jdbcType=VARCHAR}
            <if test="wsAndroidPhone != null">
                , ws_android_phone_status = #{wsAndroidPhone}
            </if>
            <if test="wsIosPhone != null">
                , ws_ios_phone_status = #{wsIosPhone}
            </if>
            <if test="wsAndroidPad != null">
                , ws_android_pad_status = #{wsAndroidPad}
            </if>
            <if test="wsIosPad != null">
                , ws_ios_pad_status = #{wsIosPad}
            </if>
            <if test="wsWindows != null">
                , ws_windows_status = #{wsWindows}
            </if>
            <if test="wsMacos != null">
                , ws_macos_status = #{wsMacos}
            </if>
            <if test="wsWebBrowser != null">
                , ws_web_browser_status = #{wsWebBrowser}
            </if>
            <if test="wsLinux != null">
                , ws_linux_status = #{wsLinux}
            </if>
        where UUID = #{UUID,jdbcType=VARCHAR}
    </update>
</mapper>